<%-include('cabecalho.ejs')%>

    <form method="POST">
        Nome:<input type="text" name="txtNome" placeholder="nome"><br>
        email:<input type="email" name="txtEmail" placeholder="email"><br>
        senha:<input type="password" name="txtSenha" placeholder="senha"><br>
        foto:<input type="file" name="txtFoto"><br>
        <input type="submit" name="adicionar">
    </form>
    <%-include('rodape.ejs')%>